<% @crops.each do |crop| %>
   <div class="col-xs-12 col-sm-6 col-md-4 show">
    <h3>
      <%= crop.crop %>  
      <small><%= link_to "Delete", crop, method: :delete,
                                    data: { confirm: "You sure?" } %> | 
      <%= link_to 'Edit', [:edit, crop] %> | 
      
      <%= link_to 'Add bed', crop_path(crop) %></small> 
    </h3>
    
    <ul>
      <li><strong>Family: </strong><%= crop.family %></li>
      <li><strong>Greenhouse Time: </strong><%= crop.greenhouse_time %></li>
      <li><strong>Maturity Time: </strong><%= crop.maturity_time %></li>
      <li><strong>Notes: </strong><%= crop.notes %></li>
    </ul>
    
    <div class="bedTable">
      <table border="1">
        <thead>
          <tr>
            <th>bed</th>
            <th>frost</th>
            <th>greenhouse start</th>
            <th>greenhouse end</th>
            <th>plant</th>
            <th>harvest</th>
          </tr>
        </thead>
        <tbody>
          <% crop.beds.each do |bed| %>
            <tr>
              <td><%= bed.bed %></td>
              <td><%= bed.frost_date %></td>
              <td><%= bed.greenhouse_start %></td>
              <td><%= bed.greenhouse_end %></td>
              <td><%= bed.plant_date %></td>
              <td><%= bed.harvest %></td>
              <td><%= link_to 'Show', bed_path(bed) %></td>
            </tr> 
          <% end %>
        </tbody>
    </table>
    </div>
    <br />
    </div>
  <% end %>



