show crop



<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 show">

    <h3><%= @crop.crop %></h3>
    <p>
      <%= link_to "delete", @crop, method: :delete,
                                    data: { confirm: "Delete: You sure? Cannot undo a delete." } %>
     
      <%= link_to "Edit", @crop, method: :get %>
    </p>
    <ul>
      <li><strong>Family: </strong><%= @crop.family %><br></li>
      <li><strong>Greenhouse Time: </strong><%= @crop.greenhouse_time %><br></li>
      <li><strong>Maturity Time: </strong><%= @crop.maturity_time %><br></li>
      <li><strong>Notes: </strong><%= @crop.notes %><br></li>
    <ul><br>
   
    <br />

  </div>
  
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6">
    <%= render 'beds/new_bed' %>
  </div>

</div>
