
<table>
  <h1>Field Calendar<h2>
  <tr>
    <th>Bed</th>
    <th>Crop</th>
    <th>Family</th>

    <th><%= @first_field_day %></th>
    <% 150.times do |day| %>
        <% @next ||= @first_field_day %>
        <th><%= @next = @next += 1 %></th>
    <% end %>
    <% @next = @first_field_day -1.day %>
  </tr>

 <% @beds.each do |bed| %>
    <% next if bed.plant_date == nil %>
        <tr>
          <td><%= bed.bed %></td>
          <td><%= current_user.crops.find(bed.crop_id).crop %></td> 
          <td><%= current_user.crops.find(bed.crop_id).family %></td> 
          <% 150.times do |day| %>
            <% @next ||= @first_field_day %>
            <% @next = @next + 1.day %>
            <% if bed.plant_date == @next or bed.harvest == @next %>
              <td><%= bed.bed %></td>
            <% else %>
              <td><%= @dash %></td>
            <% end %>
          <% end %>
            <% @next = @first_field_day - 1.day %>   
        <tr> 
  <% end %>
  
</table>


