
<table>
  <h1>Field Schedule<h2>
  <tr>
    <th>Bed</th>
    <th>Crop</th>
    <th>Family</th>

    <th><%= @first_field_day %></th>
    <% (@first_field_day...(@last_field_day+80)).each do |day| %>
      <% @fnext ||= @first_field_day %>
      <th><%= @fnext = @fnext += 1 %></th>
    <% end %>
    <% @fnext = @first_field_day -1.day %>
  </tr>

 <% @beds.each do |bed| %>
    <% next if bed.plant_date == nil %>
    <% @crop = current_user.crops.find(bed.crop_id) %>

        <tr>
          <td><%= bed.bed %></td>
          <td><%= @crop.crop %></td> 
          <td><%= @crop.family %></td> 
          <% (@first_field_day...(@last_field_day+80)).each do |day| %>
            <% @fnext ||= @first_field_day %>
            <% @fnext = @fnext + 1.day %>
            <% if bed.plant_date == @fnext or bed.harvest == @fnext %>
              <td><%= bed.bed %></td>
            <% else %>
              <td><%= @dash %></td>
            <% end %>
          <% end %>
            <% @fnext = @first_field_day - 1.day %>   
        <tr> 
  <% end %>
  
</table>


