<div class="bedTable">
<table>
  <h1>Greenhouse Schedule<h2>
  <thead>
  <tr>
    <th>Bed</th>
    <th>Crop</th>
    <th>Family</th>
    <th><%= @first_day %></th>
    <% (@first_day...(@last_day+30)).each do |day| %>
        <% @next ||= @first_day %>
        <th><%= @next = @next += 1 %></th>
    <% end %>
    <% @next = @first_day -1.day %>
  </tr>
  </thead>
  <tbody>
   <% @beds.each do |bed| %>
      <% next if bed.greenhouse_start == nil %>
      <% @crop = current_user.crops.find(bed.crop_id) %>
          <tr data-toggle="tooltip" dataplacement="bottom" title="Bed: <%= bed.bed %>, Greenhouse Start: <%= bed.greenhouse_start.strftime("%m/%d/%Y") %>, Greenhouse End: <%= bed.greenhouse_end.strftime("%m/%d/%Y") %>">
            <td><%= bed.bed %></td>
            <td><%= @crop.crop %></td> 
            <td><%= @crop.family %></td> 
            <% (@first_day...(@last_day+30)).each do |day| %>
              <% @next ||= @first_day %>
              <% @next = @next + 1.day %>
              <% if bed.greenhouse_start == @next or bed.greenhouse_end == @next %>
                <td><small><%= @crop.crop %></small></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
          <% @next = @first_day - 1.day %> 
          </tr> 
    <% end %>
  </tbody>
</table>
</div>

