<h1>Add bed to crop</h1>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 center new_form width">
  <h3> Add Beds</h3>
<%= form_for @bed, as: :bed, url: beds_path(@bed), method: :post do |f| %>


    <div class="field">
      <ul>
        <li><h4>Enter one or more dates to generate schedule<h4></li>
        <li>
          <%= f.label :bed %>
          <%= f.text_field :bed %>
        </li>
        <li> **All dates in <strong>dd/mm/yyyy</strong> format**</li>
        <li>
          <%= f.label :frost_date %>
          <%= f.text_field :frost_date, :class => 'dateField',:value => @bed.frost_date.try(:strftime,"%d-%m-%Y")%>
        </li>
        <li>
          <%= f.label :plant_date %>
          <%= f.text_field :plant_date, :class => 'dateField' %>
        </li>
        <li>
          <%= f.label :harvest %>
          <%= f.text_field :harvest, :class => 'dateField' %>
        </li>
        <li>
          <%= hidden_field_tag 'crop_id', @crop.id %>
        </li>
        
      <ul>
    </div>
    <%= f.submit "Save", class: "btn btn-large btn-primary" %>
  <% end %>
  
</div>

</div>
