
<table>
  <h1>Greenhouse Calendar<h2>
  <tr>
    <th><%= Bed %></th>
    <th><%= Crop %></th>
    <th><%= @first_day %></th>
    <% 100.times do |day| %>
        <% @next ||= @first_day %>
        <th><%= @next = @next += 1 %></th>
    <% end %>
    <% @next = @first_day -1.day %>
  </tr>

   <% @beds.each do |bed| %>
      <% next if bed.greenhouse_start == nil %>
          <tr>
            <td><%= bed.bed %></td>

              <% 100.times do |day| %>
                <% @next ||= @first_day %>
                <% @next = @next + 1.day %>
                <% if bed.greenhouse_start == @next or bed.greenhouse_end == @next %>
                  <td><%= bed.bed %></td>
                <% else %>
                  <td><%= @dash %></td>
                <% end %>
          
            <% end %>

              <% @next = @first_day - 1.day %>

            
          <tr> 
    <% end %>
</table>


